.vs/
x64/
Debug/
Release/
GlassPane/x64/
GlassPane/Debug/
GlassPane/Release/
Indicators/

*.user
*.suo
*.VC.db
*.VC.opendb
*.ipch
*.pdb
*.ilk
*.obj
*.log
*.tlog
*.lastbuildstate
*.idb
*.iobj
*.ipdb

GlassPaneImGui.ini
CHANGELOG.md